<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="about.css">
  </head>
  <body>
   <div class="container">
      <h1><u>ABOUT US</u></h1>
      <h4><p>Furniture refers to movable objects intended to support various human activities such as seating          ,eating and sleeping. Furniture is also used to hold objects at a convenient height for work, or          to store things. Furniture can be a product of design and is considered a form of decorative art.          In addition to furniture's functional role, it can serve a symbolic or religious purpose.
</p></h4>
<h2> Address </h2>     
<a href="https://goo.gl/maps/Aj1XuU11aPWX5b4SA">Game Circle, Discord</a>
<h2>SHOWROOM LOCATIONS</h2>
<h4>MUMBAI,VIZAG,CHENNAI<h4>
<h2> FACTORY LOCATIONS</h2>
<h4>DELHI,KOLKATTA</h4>
<h2> CONTACT NUMBERS</h2>
<h4>9765487375,957939379</h4>
    </div>
  </body>
</html>
