<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>footer</title>
</head>

<body>
    <div class="page">

    </div>
    <footer>
        <div class="top">
            <div class="about">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, minima. Quos iusto quae consectetur
                    aut modi error quasi nihil! Asperiores, quas ipsa ab vitae libero omnis in sint architecto atque at
                    cumque nisi necessitatibus repellat? Quasi ratione nisi dolorem obcaecati praesentium optio. Eius
                    consequuntur ratione optio, quas excepturi ut non?
                </p>
            </div>
            <div class="links-address">
                <div class="links">
                    <h2>Links</h2>
                    <ul>
                        <li><a class="link" href="#!">Link 1</a></li>
                        <li><a class="link" href="#!">Link 2</a></li>
                        <li><a class="link" href="#!">Link 3</a></li>
                        <li><a class="link" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="address">
                    <h2>Address</h2>
                    <a class="link" href="https://goo.gl/maps/Aj1XuU11aPWX5b4SA">conse consequuntur ratione optio, quas
                        excepturi ut
                        non?
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="copyright">
                <p>&copy 2021 - Organisation</p>
            </div>
            <div class="social">
                <a href="#" class="support">Contact Us</a>
                <a href="#" class="face">Facebook</a>
                <a href="#" class="tweet">Twitter</a>
                <a href="#" class="linked">Linked In</a>
            </div>
        </div>

    </footer>
    <div class="gototop">
        <a href=""><img src="up.png" alt="" srcset=""></a>
    </div>
</body>

</html>