<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>home</title>
</head>

<body>
    <section class="homepage">
        <div class="carousel container">
            <button class="left"></button>
            <div class="slider">
                <a href="#" class="slide" id="slide1"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/e8bc3791196535af65f40e36993b9e1f/438bd160">
                </a>
                <a href="#" class="slide" id="slide2"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/0be1af59cf889899b5c9abb1e4db38a4/d631ac52">
                </a>
                <a href="#" class="slide" id="slide3"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/0446e84c5bca9643de3452a61b2d6195/1b32f48b">
                </a>
                <a href="#" class="slide" id="slide4"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/530c07c5ade5acd9934c8dd334458b86/cf91397f">
                </a>
                <a href="#" class="slide" id="slide5"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/1e4a818f5184993e430420a152315b40/873c7094">
                </a>
            </div>
            <button class="right"></button>
            <div class="dots">
                <a href="#slide1"></a>
                <a href="#slide2"></a>
                <a href="#slide3"></a>
                <a href="#slide4"></a>
                <a href="#slide5"></a>
            </div>
        </div>
        <h2 class="fph">Featured Products</h2>
        <div class="container-fluid">
            <div class="fproducts">
                <div class="fp fp1"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/7478483f40a2f56662a87b304bd4e104/707d397f">
                </div>
                <div class="fp fp2"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/e8c2f821d05b9e4e5aa450a19e62ffa5/271fc3f5">
                </div>
                <div class="fp fp3"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/7a38cf782907773d9900165530cfa583/d9f41960">
                </div>
                <div class="fp fp4"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/d3174ad774fc628e1d50b77e3bec399f/1de7b97a">
                </div>
                <div class="fp fp5"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/89ba7458c24252be77f5a835dd398880/c13ef359">
                </div>
                <div class="fp fp6"><img
                        src="https://dl.airtable.com/.attachmentThumbnails/2fd8fb02cc6fa5620504de41fbb662f9/3157a507">
                </div>
            </div>

        </div>
    </section>
</body>

</html>