<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="navbar.css">
	<title>Lami Furniture</title>
</head>

<body>
	<nav>
		<div class="home">
			<a href="">
				<img class="homeimg" src="home1.png" alt="home" style="height: 56px; width: 80px;">
			</a>
		</div>
		<div class="left">
			<ul>
				<li><a class="link" href="">home</a></li>
				<li class="products"><a class="link" href="">products</a>
					<div class="dropdown-content">
						<a class="product-1" href="">product-1</a>
						<a class="product-2" href="">product-2</a>
					</div>
				</li>
				<li><a class="link" href="">help</a></li>
				<li><a class="link" href="">about</a></li>
			</ul>
		</div>
		<div class="right">
			<a class="link" href="">user</a>
		</div>
		<div class="burger">
			<div class="all-lines">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
	</nav>
</body>


</html>