<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="products.css">
    <title> </title>
  </head>
  <body>
    <main>
      <div class="filters">
        <h2>FILTER</h2>
        <h3>Filter by Company</h3>
        <label for="marcos">
          <input type="checkbox" name="marcos" value="marcos" id="marcos" checked>
          <span class="label">Marcos</span>
          <span class="inventory">10</span>
        </label>
        <br/>
        <label for="liddy">
          <input type="checkbox" name="liddy" value="liddy" id="liddy">
          <span class="label">Liddy</span>
          <span class="inventory">10</span>
        </label>
        <br/>
        <label for="ikea">
          <input type="checkbox" name="ikea" value="ikea" id="ikea">
          <span class="label">Ikea<span>
          <span class="inventory">10</span>
        </label>
        <br/>
        <label for="caressa">
          <input type="checkbox" name="caressa" value="caressa" id="caressa">
          <span class="label">Caressa</span>
          <span class="inventory">10</span>
        </label>
        <br/>
        <hr/>
        <h3>Filter by Price</h3>
        <input type="range" name="priceRange" value="priceRange" id="price" min=3000 max=310000 step="1000">
        <label for="filter">
          <input type="submit" name="Filter" value="Filter" id="filter">
        </label>
      </div>
      <div class="catergories">
        <h2>CATEGORIES</h2>
        <ul>
          <li>
            <span> <a href="#">OFFICE
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
          <li>
            <span> <a href="#">LIVING ROOM
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
          <li>
            <span> <a href="#">KITCHEN
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
          <li>
            <span> <a href="#">BEDROOM
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
          <li>
            <span> <a href="#">DINING
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
          <li>
            <span> <a href="#">KIDS
              <span class="num">10</span>
              </a>
            </span>
            <hr/>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
