a
{
	text-decoration: none;
}
nav
{
    background-color: black;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 20px;
}
.home
{
	grid-column: 1/2;
}
.homeimg 
{
	height: 61px;
	width: 82px;
}
.left
{
	grid-column: 2/3;
	justify-self: left;
	margin-left: 10px;
}
.left ul
{
	display: flex;
	list-style-type: none;
}
.left ul li
{
	margin-right: 10px;
}
.left ul a
{
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: #303030;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
	justify-items: center;
}
.left ul a:hover
{
	background: #ffb900;
}
.right
{
	grid-column: 3/4;
	justify-self: right;
}
.right a
{
    color: white;
    width: 67px;
    height: 67px;
    padding: 20px;
    background-color: #303030;
    font-size: 1.3em;
    border-radius: 50px;
    float: right;
    margin-right: 8px;
}
.right a:hover
{
    background-color: #ffb900;
    transition: all 0.3s ease;
}
.nav-cart-qty
{
	position: relative;
	top: -50px;
	left: 30px;
	background-color: red;
	padding: 0px;
	height: 32px;
	width: 32px;
	max-width: auto;
	text-align: center;
	border-radius: 50%;
}
.burger button
{
    outline: none;
    border: 0px;
}
.line
{
    height: 4px;
    width: 26px;
    background: white;
    margin: 4px auto;
    border-radius: 4px;
}
.all-lines
{
    padding: 20px;
    background-color: #303030;
    border-radius: 50px;
    width: 67px;
}
.all-lines:hover
{
    background-color: #ffb900;
}
@media (min-width: 0px) and (max-width: 768px)
{
	nav
	{
		grid-template-columns: 20% 65% 15%;
		grid-template-rows: 1fr auto;
	    align-content: center;
	    justify-items: center;
	    height: auto;
	}
	.left
	{
		grid-row: 2/3;
		grid-column: 1/2;
		margin-top: 10px;
		justify-self: center;
		transition: all 4s;
	}
	.left ul
	{
		display: block;
	}
	.left ul li
	{
		margin-bottom: 10px;
	}
	.left ul li a
	{
		padding: 0px;
		background: black;
	}
	.left ul a:hover
	{
		color: #ffb900;
		background: black;
	}
	.right
	{
		grid-column: 2/3;
		justify-self: right;
	}
	.burger
	{
		grid-column: 3/4;
		justify-self: right;
	}
}
@media (min-width: 0px) and (max-width: 460px)
{
	.right
	{
		justify-self: center;
	}
}