nav
{
    background-color: black;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-content: center;
    justify-items: center;
}
.home
{
	grid-column: 1/2;
}
.homeimg 
{
    height: 61px; 
    width: 80px;
}
.homeimg:hover
{
    content:url("https://github.com/billafy/furniture-react/blob/main/components/home0.png?raw=true");
    transition: all 0.5s ease;
}
.left
{
	grid-column: 2/3;
}
.left ul
{
	display: flex;
	list-style-type: none;
}
